@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@layer base {
  html {
    scrollbar-width: 0px;
    -ms-overflow-style: none;
  }
  body {
    @apply bg-gray-800  text-gray-100 ;
  }
}

:focus {
  outline-color: #181C2A;
}